<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a <%= editCar.name %></title>
</head>

<body>
    <h1>Edit <%= editCar.name %></h1>
    <form action="/cars/<%= editCar._id%>?_method=PUT" method="POST">

        <div>
            <label for="name">Car Name: </label>
            <input type="text" name="name" id="name" value="<%= editCar.name  %>" />
        </div>
        <br />

        <div>
            <label for="description">Description: </label>
            <textarea name="description" id="description"><%= editCar.description %></textarea>
        </div>
        <br />
        <div>
            <label for="image">Image: </label>
            <textarea name="image" id="image"><%= editCar.image %></textarea>
        </div>
        <br />
        
        <button type="submit">Update Car</button>
    </form>
</body>

</html>